{
  "presets": [
    "next/babel"
  ],

  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "pages": "./pages",
        "components": "./components",
        "styles": "./styles",
      }
    }]
  ]
}
